{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Home" %}{% endblock %}

{% block content %}
<h1>{% blocktrans with username=user.username %}Welcome, {{ username}}!{% endblocktrans %}</h1>

<h2>{% trans "Running scenarios" %}</h2>
{% if scenario_run_list %}
<div class="box-shadow table-shadow">
<table class="real-table">
    <tr>
        <th>{% trans "Scenario" %}</th>
        <th>{% trans "VM state" %}</th>
        <th>{% trans "Expiry" %}</th>
    </tr>
{% for scenario_run in scenario_run_list %}
{% with scenario=scenario_run.scenario %}
    <tr>
        <td><a href="{% url scenario.show scenario.name %}">
                {{ scenario.title }}</a></td>
        <td>{{ scenario_run.state }}</td>
        <td>{{ scenario_run.expires_at|timeuntil }}</td>
    </tr>
{% endwith %}
{% endfor %}
</table>
</div>
{% else %}
<p>{% trans "You have no running scenarios." %}</p>
{% endif %}

{% if not has_valid_cert %}
<h2>{% trans "Certificate generation for VPN" %}</h2>
<p><strong>{% trans "Please create a valid certificate for VPN setup." %}</strong></p>
<p><a href="{% url pki.home %}">{% trans "Create certificate" %}</a></p>
{% else %}
<h2>{% trans "Certificate and VPN instructions" %}</h2>
<p><a href="{% url pki.home %}">{% trans "View certificate page" %}</a></p>
{% endif %}

{% endblock content %}
