{% extends "base.html" %}
{% load i18n %}
{% load scenario_progress %}

{% block title %}{{ scenario.title }}{% endblock %}

{% block content %}

<div id="scenario-sidebar">
    
<div class="box-shadow">
<div class="box">
    <span class="box-title">{% trans "Scenario information" %}</span>
    <p class="box-content section_title">{% trans "Secrets:" %}
    {% scenario_progress num_submitted_secrets scenario.num_secrets %}
    </p>
</div>
</div>

<div class="box-shadow">
<div class="box" id="vmbox">
    <span class="box-title">{% trans "Manage virtual machine" %}</span>
    <div id="vm_spinner box-content" style="display:none;">
        <img src="{{ STATIC_URL }}vmspinner.gif" alt="{% trans "Please wait." %}" />
    </div>
    <div class="vm_dynamic box-content">
    {% include "scenario/vmbox_dynamic.html" %}
    </div>
</div>
</div>

</div>


<div id="scenario">
    <h1>{{ scenario.title }}</h1>
    {{ description|safe }}
</div>
<script type="text/javascript" src="{{ STATIC_URL }}scenario.js"></script>
{% endblock content %}
