{% extends "base.html" %}
{% load i18n %}

{% block title %}{{ scenario.title }}{% endblock %}

{% block content %}

<div id="vmbox">
    <h1>{% trans "Manage virtual machine" %}</h1>
    <div id="vm_spinner" style="display:none;">
        <img src="{{ STATIC_URL }}vmspinner.gif" alt="{% trans "Please wait." %}" />
    </div>
    <div id="vm_dynamic"> {% comment %}will be refreshed via ajax{% endcomment %}
    {% include "scenario/vmbox_dynamic.html" %}
    </div>
    </div> {% comment %} /vm_dynamic {% endcomment %}
</div>

<div id="scenario">
    <h1>{{ scenario.title }}</h1>
    {{ description|safe }}
</div>
<script type="text/javascript" src="{{ STATIC_URL }}scenario.js"></script>
{% endblock content %}
