<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{% block title %}{% endblock %} @ Insekta</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}insekta.css" />
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}scenario.css" />
{% endif %}
</head>
<body>
<div id="header">
<h1>Insekta</h1>
{% if user.is_authenticated %}
<ul id="menu">
    <li><a href="{% url scenario.overview %}">Scenario overview</a></li>
    <li><a href="{% url scenario.all %}">All scenarios</a></li>
{% comment %}
<li><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">Logout</a></li>
{% endcomment %}
</ul>
{% endif %}
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content">
{% block content %}{% endblock content %}
</div>
</body>
</html>
