{% load url from future %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{% block title %}{% endblock %} @ Insekta</title>
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}insekta.css" />
{% if user.is_authenticated %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}scenario.css" />
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}highlight.css" />
{% endif %}
</head>
<body>
<div id="header">
<h1>Insekta</h1>
<ul id="menu">
{% if user.is_authenticated %}
    <li><a href="{% url 'scenario.home' %}">{% trans "Home" %}</a></li>
    <li><a href="{% url 'scenario.groups' %}">{% trans "Scenario groups" %}</a></li>
    <li><a href="{% url 'scenario.all' %}">{% trans "All scenarios" %}</a></li>
{% if perms.scenario.view_editor %}
    <li><a href="{% url 'scenario.editor' %}">{% trans "Scenario editor" %}</a></li>
{% endif %}
{% if user.is_staff %}
    <li><a href="{% url 'admin:index' %}">{% trans "Administration" %}</a></li>
{% endif %}
    <li><a href="{% url 'django.contrib.auth.views.logout_then_login' %}">{% trans "Logout" %}</a></li>
{% else %}
    <li><a href="{% url 'django.contrib.auth.views.login' %}">{% trans "Login" %}</a></li>
{% endif %}
</ul>
</div>

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="content">
{% block content %}{% endblock content %}
</div>
</body>
</html>
