.enter_secret, .require_secret, .spoiler {
    border:1px solid #000;
    margin:0.5em;
}

#vmbox {
    position:fixed;
    right:0;
    width:20em;
    background:#eee;
    padding:0.3em;
    border:2px solid #000;
    margin-right:0.5em;
}

#vmbox h1 {
    font-size:1.5em;
    border-bottom:2px solid #000;
    margin:0;
    text-align:center;
}

.vm_ip, .vm_state {
    border:2px solid;
    margin:0.5em;
    font-size:1.5em;
    text-align:center;
    background:#fff;
}

.vm_actions {
    text-align:center;
    padding:0.2em;
}

.vm_form {
    display:inline;
}

.vm_start, .vm_stop, .vm_suspend, .vm_resume, .vm_disable, .vm_enable {
    background:#fff;
    font-size:1.2em;
    cursor:pointer;
    border:2px solid #000;
    padding:0.3em 0.3em 0.3em 40px;
}

.vm_start {
    background:#fff url(start.png) no-repeat 5px center;
}

.vm_stop {
    background:#fff url(stop.png) no-repeat 5px center;
}

.vm_suspend {
    background:#fff url(suspend.png) no-repeat 5px center;
}

.vm_resume {
    background:#fff url(resume.png) no-repeat 5px center;
}

.vm_section_title {
    font-weight:bold;
}

.vm_disable {
    background:#fff url(disable.png) no-repeat 5px center;
}

.vm_enable {
    background:#fff url(enable.png) no-repeat 5px center;
}

.scenario {
    margin-right:21em;
}

.enter_secret {
    background: url(secret.png) no-repeat 5px center;
    min-height:50px;
    padding-left:80px;
    border:2px solid #000;
}

.require_secret {
    background: url(herebedragons.png) no-repeat 10px bottom;
    min-height:50px;
    padding-left:80px;
    border:2px solid #000;
}

.spoiler {
}
