.vmbox, .enter_secret, .require_secret, .spoiler {
    border:1px solid #000;
    margin:0.5em;
}

.vmbox {
}

.vmbox .vmbox_title {
    display: block;
    size:1.2em;
}

.enter_secret {
    background: url(secret.png) no-repeat 5px center;
    min-height:50px;
    padding-left:80px;
    border:2px solid #000;
}

.require_secret {
    background: url(herebedragons.png) no-repeat 10px bottom;
    min-height:50px;
    padding-left:80px;
    border:2px solid #000;
}

.spoiler {
}
